header{
    .main{
        .main{
            background-image: url(/img/fon.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 1920px;
            height: 1080px;
            background-color: aqua;
        }
    }
}

